<ul xmlns:th="http://www.thymeleaf.org"
    th:fragment="sidebar(activePage)"
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" th:classappend="${activePage == 'dashboard'} ? ' active'">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt fa-fw"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Gestión
    </div>

    <!-- Nav Item - Usuarios Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'usuarios', 'cambiar-clave'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUsuarios"
           aria-expanded="true" aria-controls="collapseUsuarios">
            <i class="fas fa-fw fa-user fa-fw"></i>
            <span>Usuarios</span>
        </a>
        <div id="collapseUsuarios" class="collapse"
             th:classappend="${#lists.contains({'usuarios', 'cambiar-clave'}, activePage)} ? ' show'"
             aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item"
                   th:classappend="${activePage == 'usuarios'} ? ' active'"
                   href="/usuarios">ABM Usuarios</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'cambiar-clave'} ? ' active'"
                   href="/cambiar-clave">Cambiar clave</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Dirección Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'paises', 'provincias', 'departamentos', 'localidades'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDireccion"
           aria-expanded="true" aria-controls="collapseDireccion">
            <i class="fas fa-fw fa-map-marker-alt fa-fw"></i>
            <span>Dirección</span>
        </a>
        <div id="collapseDireccion" class="collapse"
             th:classappend="${#lists.contains({'paises', 'provincias', 'departamentos', 'localidades'}, activePage)} ? ' show'"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item"
                   th:classappend="${activePage == 'paises'} ? ' active'"
                   href="/paises">ABM País</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'provincias'} ? ' active'"
                   href="/provincias">ABM Provincia</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'departamentos'} ? ' active'"
                   href="/departamentos">ABM Departamento</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'localidades'} ? ' active'"
                   href="/localidades">ABM Localidad</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Empresas Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'empresas'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseEmpresa"
           aria-expanded="true" aria-controls="collapseEmpresa">
            <i class="fas fa-fw fa-building fa-fw"></i>
            <span>Empresa</span>
        </a>
        <div id="collapseEmpresa" class="collapse"
             th:classappend="${#lists.contains({'empresas'}, activePage)} ? ' show'"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item"
                   th:classappend="${activePage == 'empresas'} ? ' active'"
                   href="/empresas">ABM Empresa</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Proveedor Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'proveedores'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseProveedor"
           aria-expanded="true" aria-controls="collapseProveedor">
            <i class="fas fa-fw fa-truck fa-fw"></i>
            <span>Proveedor</span>
        </a>
        <div id="collapseProveedor" class="collapse"
             th:classappend="${#lists.contains({'proveedores'}, activePage)} ? ' show'"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item"
                   th:classappend="${activePage == 'proveedores'} ? ' active'"
                   href="/proveedores">ABM Proveedor</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Components Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'buttons','cards'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog fa-fw"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse"
             th:classappend="${#lists.contains({'buttons','cards'}, activePage)} ? ' show'"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item"
                   th:classappend="${activePage == 'buttons'} ? ' active'"
                   href="/public/buttons">Buttons</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'cards'} ? ' active'"
                   href="/public/cards">Cards</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'colors','borders','animations','other'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench fa-fw"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse"
             th:classappend="${#lists.contains({'colors','borders','animations','other'}, activePage)} ? ' show'"
             aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item"
                   th:classappend="${activePage == 'colors'} ? ' active'"
                   href="/public/utilities-color">Colors</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'borders'} ? ' active'"
                   href="/public/utilities-border">Borders</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'animations'} ? ' active'"
                   href="/public/utilities-animation">Animations</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'other'} ? ' active'"
                   href="/public/utilities-other">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item"
        th:classappend="${#lists.contains({'login','register','forgot','404','blank'}, activePage)} ? ' active'">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder fa-fw"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse"
             th:classappend="${#lists.contains({'login','register','forgot','404','blank'}, activePage)} ? ' show'"
             aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item"
                   th:classappend="${activePage == 'login'} ? ' active'"
                   href="/public/login">Login</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'register'} ? ' active'"
                   href="/public/register">Register</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'forgot-password'} ? ' active'"
                   href="/public/forgot-password">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item"
                   th:classappend="${activePage == '404'} ? ' active'"
                   href="/public/404">404 Page</a>
                <a class="collapse-item"
                   th:classappend="${activePage == 'blank'} ? ' active'"
                   href="/public/blank">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item" th:classappend="${activePage == 'charts'} ? ' active'">
        <a class="nav-link" href="/public/charts">
            <i class="fas fa-fw fa-chart-area fa-fw"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" th:classappend="${activePage == 'tables'} ? ' active'">
        <a class="nav-link" href="/public/tables">
            <i class="fas fa-fw fa-table fa-fw"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>