<form xmlns:th="http://www.thymeleaf.org"
      th:fragment="clienteForm(actionUrl, formType)"
      th:action="@{${actionUrl}}" th:object="${form}" method="post">
<fieldset th:attr="disabled=${formType == 'detail'}">

    <!-- token anti csrf -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <input type="hidden" th:if="${formType != 'create'}" th:field="*{id}"/>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombre *</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre">
            <div th:if="${#fields.hasErrors('nombre')}" class="text-danger mt-1"
                 th:each="err : ${#fields.errors('nombre')}" th:text="${err}"></div>
        </div>

        <div class="form-group col-md-6">
            <label for="apellido">Apellido *</label>
            <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="Apellido">
            <div th:if="${#fields.hasErrors('apellido')}" class="text-danger mt-1"
                 th:each="err : ${#fields.errors('apellido')}" th:text="${err}"></div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dni">DNI *</label>
            <input type="text" th:field="*{dni}" class="form-control" id="dni" placeholder="DNI">
            <div th:if="${#fields.hasErrors('dni')}" class="text-danger mt-1"
                 th:each="err : ${#fields.errors('dni')}" th:text="${err}"></div>
        </div>
    </div>
</fieldset>

    <div class="d-flex justify-content-end mt-3">
        <a th:if="${formType != 'detail'}" th:href="@{/clientes}" class="btn btn-outline-primary radius mr-3">Cancelar</a>
        <button th:if="${formType != 'detail'}" type="submit" class="btn btn-primary radius">Aceptar</button>

        <a th:if="${formType == 'detail'}" th:href="@{/clientes}" class="btn btn-primary radius">Aceptar</a>
    </div>
</form>