<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/rootLayout :: rootlayout(activePage='paises')}">

<head>
    <title>Alta País</title>
</head>

<body id="page-top">

<div layout:fragment="content"
     class="container-fluid">

    <div th:if="${msgError}" th:text="${msgError}" class="alert alert-danger" role="alert">MENSAJE ERROR</div>

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Alta País</h1>

    <!-- Formulario -->
    <ul th:replace="~{pais/paisForm :: paisForm(actionUrl='/paises/alta', readOnly=false)}"></ul>

</div>

</body>

</html>